*, html, body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: rgb(92, 92, 92);
}

:root {
    --bg-primary: #5392f9;
    --bg-secondary: #224d8f;
    --txt-primary: #5392f9;
    --txt-secondary: #fff;
}

.container {
    /* background-color: #4c8f22; */
    padding: 1.3% 3.2%;
}

.container-nav-contact {
    border-bottom: 1px solid rgb(227, 236, 250);
    padding-inline: 8px;
}

.nav-contact-ul {
    /* background-color: aquamarine; */
    list-style: none;
    display: flex;
    justify-content: left;
    margin-left: 20px;
}

.nav-contact-li{
    /* background-color: blue; */
    padding: 10px;
    padding-inline: 18px;
    font-size: 14px;
    color: rgb(64, 61, 61);
}

.logo {
    /* background-color: #377dff; */
    display: flex;
    float: left;
    padding: 29px 0px;
    padding-left: 23px;
    width: 13%;
}

.nav-ul {
    /* background-color: #377dff; */
    list-style-type: none;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 45px;
}

.nav-li {
    padding-inline: 22px;
    margin-block: 38px 38px;
    font-size: 15px;
    font-weight: bold;
}

.logo:hover {
    cursor: pointer;
}

.nav-li:hover {
    color: var(--txt-primary);
    cursor: pointer;
}

.nav-contact-li:hover {
    cursor: pointer;
}

.content-img1 {
    width: 100%;
}


.service-content {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-desc {
    /* background-color: #224d8f; */
    font-size: 34px;
    font-weight: 500;
}

.desc-service {
    /* background-color: #5392f9; */
    font-size: 14px;
    font-weight: 550;
    padding-left: 14em;
}

.wrapper {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.footer {
    background-color: var(--bg-secondary);
    padding: 32px;
}

.footer-content {
    color: var(--txt-secondary);
    font-size: 14px;
    font-weight: 520;
    text-align: left;
    padding-left: 23px;
}
